# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Django migrations
**/migrations/
db.sqlite3

# Virtual Environment
venv/
.env/
myenv/

# VSCode
.vscode/

# macOS
.DS_Store

# Logs
*.log

# Static and media (optional – keep if generated at runtime)
staticfiles/
media/

# PDF output (optional – if generated and not needed in repo)
*.pdf
